
/* HPSimplified */
@font-face {
        font-family: "HPSimplified";
        src:   url("https://pages.github.azc.ext.hp.com/SAC/fonts/HPSimplified_W_Bd.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
}
@font-face {
        font-family: "HPSimplified";
        src:   url("https://pages.github.azc.ext.hp.com/SAC/fonts/HPSimplified_W_BdIt.woff2") format("woff2");
        font-weight: 700;
        font-style: italic;
        font-display: swap;
}
@font-face {
        font-family: "HPSimplified";
        src:   url("https://pages.github.azc.ext.hp.com/SAC/fonts/HPSimplified_W_It.woff2") format("woff2");
        font-weight: 400;
        font-style: italic;
        font-display: swap;
}
@font-face {
        font-family: "HPSimplified";
        src:   url("https://pages.github.azc.ext.hp.com/SAC/fonts/HPSimplified_W_Rg.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}
